<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql//localhost/mybatis</param-value>
    </context-param>

    <servlet>
        <servlet-name>SetC</servlet-name>
        <servlet-class>com.james.servlet.SetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetC</servlet-name>
        <url-pattern>/setc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetC</servlet-name>
        <servlet-class>com.james.servlet.GetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetC</servlet-name>
        <url-pattern>/getc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Gp</servlet-name>
        <servlet-class>com.james.servlet.GetInitParamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Gp</servlet-name>
        <url-pattern>/getp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RDI</servlet-name>
        <servlet-class>com.james.servlet.RequsetDispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RDI</servlet-name>
        <url-pattern>/RDispacher</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RP</servlet-name>
        <servlet-class>com.james.servlet.ReadPropertiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RP</servlet-name>
        <url-pattern>/Rproperties</url-pattern>
    </servlet-mapping>


</web-app>

